.mainContainer {
    padding: 15px;
    padding-top: 100px;
    margin-left: 300px;
    margin-right: 100px;
    color: #000;
}

@media screen and (max-width: 600px) {
    .mainContainer {
        margin-left: 0;
        margin-right: 0;
        padding-top: 30px;
    }
}